@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  font-family: 'Secular One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
